# Игнорировать директорию target, создаваемую Maven
target/

# Игнорировать файлы, относящиеся к IDE
.idea/
*.iml

# Игнорировать файлы журналов и временные файлы
*.log
*.tmp

# Игнорировать локальные конфигурационные файлы
application.properties
application.yml

# Игнорировать Git-файлы
.git/
.gitignore
